form{
    margin-left:75px;
}
.form-group{
    height:150px;
}
span{
    display: none;
}
#div1:hover span{
    display:inline;
}
textarea {
    height: 140px;
    resize: none;
}
.btn-lg{
    margin-top: 30px;
}
p{
    margin-bottom: 0;
}